# Verification

Run Board config and DB tests.
